keycloak_url               = "https://keycloak.stg.example.com"
keycloak_admin_password    = "REPLACE_ME_BEFORE_APPLY"
web_app_client_secret      = "REPLACE_ME_BEFORE_APPLY"
batch_worker_client_secret = "REPLACE_ME_BEFORE_APPLY"
